@font-face {
    font-family: 'Hellix';
    src: url('Hellix-SemiBoldItalic.eot');
    src: local('Hellix SemiBold Italic'), local('Hellix-SemiBoldItalic'),
        url('Hellix-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-SemiBoldItalic.woff2') format('woff2'),
        url('Hellix-SemiBoldItalic.woff') format('woff'),
        url('Hellix-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Regular.eot');
    src: local('Hellix Regular'), local('Hellix-Regular'),
        url('Hellix-Regular.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Regular.woff2') format('woff2'),
        url('Hellix-Regular.woff') format('woff'),
        url('Hellix-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-LightItalic.eot');
    src: local('Hellix Light Italic'), local('Hellix-LightItalic'),
        url('Hellix-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-LightItalic.woff2') format('woff2'),
        url('Hellix-LightItalic.woff') format('woff'),
        url('Hellix-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-MediumItalic.eot');
    src: local('Hellix Medium Italic'), local('Hellix-MediumItalic'),
        url('Hellix-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-MediumItalic.woff2') format('woff2'),
        url('Hellix-MediumItalic.woff') format('woff'),
        url('Hellix-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-BlackItalic.eot');
    src: local('Hellix Black Italic'), local('Hellix-BlackItalic'),
        url('Hellix-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-BlackItalic.woff2') format('woff2'),
        url('Hellix-BlackItalic.woff') format('woff'),
        url('Hellix-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-RegularItalic.eot');
    src: local('Hellix Regular Italic'), local('Hellix-RegularItalic'),
        url('Hellix-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-RegularItalic.woff2') format('woff2'),
        url('Hellix-RegularItalic.woff') format('woff'),
        url('Hellix-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-ExtraBoldItalic.eot');
    src: local('Hellix ExtraBold Italic'), local('Hellix-ExtraBoldItalic'),
        url('Hellix-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-ExtraBoldItalic.woff2') format('woff2'),
        url('Hellix-ExtraBoldItalic.woff') format('woff'),
        url('Hellix-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-SemiBold.eot');
    src: local('Hellix SemiBold'), local('Hellix-SemiBold'),
        url('Hellix-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Hellix-SemiBold.woff2') format('woff2'),
        url('Hellix-SemiBold.woff') format('woff'),
        url('Hellix-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-BoldItalic.eot');
    src: local('Hellix Bold Italic'), local('Hellix-BoldItalic'),
        url('Hellix-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-BoldItalic.woff2') format('woff2'),
        url('Hellix-BoldItalic.woff') format('woff'),
        url('Hellix-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Light.eot');
    src: local('Hellix Light'), local('Hellix-Light'),
        url('Hellix-Light.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Light.woff2') format('woff2'),
        url('Hellix-Light.woff') format('woff'),
        url('Hellix-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Thin.eot');
    src: local('Hellix Thin'), local('Hellix-Thin'),
        url('Hellix-Thin.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Thin.woff2') format('woff2'),
        url('Hellix-Thin.woff') format('woff'),
        url('Hellix-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Bold.eot');
    src: local('Hellix Bold'), local('Hellix-Bold'),
        url('Hellix-Bold.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Bold.woff2') format('woff2'),
        url('Hellix-Bold.woff') format('woff'),
        url('Hellix-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-ExtraBold.eot');
    src: local('Hellix ExtraBold'), local('Hellix-ExtraBold'),
        url('Hellix-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Hellix-ExtraBold.woff2') format('woff2'),
        url('Hellix-ExtraBold.woff') format('woff'),
        url('Hellix-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Black.eot');
    src: local('Hellix Black'), local('Hellix-Black'),
        url('Hellix-Black.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Black.woff2') format('woff2'),
        url('Hellix-Black.woff') format('woff'),
        url('Hellix-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-ThinItalic.eot');
    src: local('Hellix Thin Italic'), local('Hellix-ThinItalic'),
        url('Hellix-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Hellix-ThinItalic.woff2') format('woff2'),
        url('Hellix-ThinItalic.woff') format('woff'),
        url('Hellix-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Medium.eot');
    src: local('Hellix Medium'), local('Hellix-Medium'),
        url('Hellix-Medium.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Medium.woff2') format('woff2'),
        url('Hellix-Medium.woff') format('woff'),
        url('Hellix-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Hellix';
    box-sizing: border-box;
}

body {
    background-color: #fcfcfc;
    color: #111235;
    min-width: 343px;
}

.navbar {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    box-shadow: 0 4px 2px -2px #e3e3e3;
    background-color: #fff;
    margin-bottom: 2rem;

}

.navbar-menu {
    display: none;
}

.emp {
    font-weight: 700;
}

.content {
    width: 100%;
    padding: 0 1rem;
    position: relative;
}


.hero-image {
    width: 100%;
    margin-top: 2rem;
}

.headline {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.tagline {
    text-align: center;
    font-size: 1rem;
    margin: 1.7rem 0;
    line-height: 23px;
}

.button {
    background-color: #4B5092;
    border: none;
    color: #fff;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 25px;
    font-family: 'Hellix';
    margin-bottom: 3rem;
}

.loads-section {
    background-color: #F2F8FF;
    left: 0;
    padding: 4rem 1rem;
    margin: -1rem;
}

.loads-section p {
    line-height: 23px;
    width: auto;
}


.subheadline {
    font-size: 2.7rem;
    width: 20rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #111235;
}

.image2 {
    margin-bottom: 3rem;
}

.coach-info {
    margin-top: 6rem;
    background: linear-gradient(95deg, #BAD4FF, #6487BF);
    margin: 6rem -1rem -1rem -1rem;
}

.coach-pic {
    width: 100%;
    margin-bottom: 1rem;
}

.coach-content {
    text-align: center;
    padding: 0 1rem;
    padding-top: 4rem;
}

.title {
    font-size: 2.7rem;
    text-align: center;
}

.coach-experience {
    font-weight: 600;
    margin: 1rem 0;
    text-align: center;
}

.coach-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.white-btn {
    font-size: 14px;
    background: #fff;
    color: #436BAA;
    padding: 15px 50px;
    font-weight: 600;
}


.benefit-content {
    margin: -1rem;
    background-color: #F0F6FF;
    padding: 1rem 1rem;
}

.benefit-section h2 {
    text-align: start;
    font-weight: 500;
    margin-bottom: 3rem;
    margin-top: 4rem;
}

.benefit-img {
    width: 100%;
    margin-top: 6rem;
}

.benefit-container {
    background-color: #E4F0FF;
    height: 17rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 30px;
}

.benefit-text {
    width: 15rem;
}

.benefit-text h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

}

.benefit-text p {
    line-height: 1.5;
}

.purple {
    background-color: #E7ECFD;
}

.benefit-title {
    display: none;
}

.footer {
    text-align: center;
    background-color: #F0F6FF;
    margin: -1rem;
    border-top: 1px solid rgb(170, 170, 170);
}

.footer-menu {
    padding-bottom: 1rem;
}

.footer-title {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 3rem 0;
}

.footer-subtitle {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1.3rem 0;
}

.footer-item {
    padding-bottom: 2rem;
}

.footer-item a {
    text-decoration: none;
    font-weight: 500;
    color: #111235;
}

.footer-bar {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.footer-input {
    border: none;
    font-family: 'Hellix';
    color: #111235;
    padding: 0.6rem 1.2rem;
    width: 15rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.footer-button {
    position: absolute;
    right: inherit;
    right: 8px;
    top: 10px;
    background-color: #fff;
    border: none;
}

.footer-input::placeholder {
    color: #111235;
    font-size: 0.9rem;
    font-weight: 600;
}

.footer-media {
    width: 100%;
    display: flex;
    justify-content: center;
}



.footer-icon a {
    background-color: #e2eaf5;
    padding: 4px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

}

.desktop-copyright {
    display: none;
}


.footer-icon:not(:last-child) {
    margin-right: 1rem;
}

.footer-copyright p {
    font-weight: 600;
    font-size: 0.8rem;
    padding: 3rem 0;
    padding-bottom: 5rem;
}




/* DESKTOP */

@media (min-width: 700px) {
    .hero-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-text {
        width: 40%;
        text-align: initial;
        order: 1;
    }

    .hero-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1553px;
    }

    .headline {
        text-align: start;
        font-size: 5rem;
        font-weight: 500;
        line-height: 1;
    }

    .tagline {
        text-align: start;
        width: 75%;
        font-size: 1.1rem;
    }

    .button {
        margin: 0;
        margin-top: 3rem;
        font-size: 1.1rem;
        padding: 17px 55px;
    }

    .hero-pic {
        order: 2;
    }


    .headline {}

    .navbar {
        display: flex;
        justify-content: space-around;
    }

    .logo {
        margin-right: 13rem;
    }




    .navbar-menu {
        display: flex;
        font-size: 1.1rem;
        align-items: center;
    }

    .navbar-item {
        margin-right: 3rem;

    }

    .navbar-item a {
        text-decoration: none;
        color: #111235;
    }

    .loads-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loads-section {
        background-color: #F2F8FF;
        left: 0;
        padding: 4rem 3rem;
        margin: -1rem;
        width: 35rem;
        border-radius: 40px;
    }

    .loads-section p {
        width: 25rem;
    }

    .image2 {
        width: 34rem;
    }

    .loads-pic {
        margin-right: 3rem;
    }

    .coach-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .coach-content {
        display: flex;
        justify-content: space-evenly;
        padding-top: 0;
        width: 1555px;
    }

    .coach-data {
        text-align: initial;
        order: 2;
    }

    .title {
        text-align: initial;
    }

    .coach-experience {
        text-align: initial;
    }

    .coach-photo {
        order: 1;
    }

    .coach-pic {
        width: 35rem;
    }

    .coach-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25rem;
        margin-right: 10rem;
    }

    .coach-data .button {
        width: 70%;
    }

    .coach-text {
        line-height: 1.7;
    }


    .benefit-box {
        display: flex;
        justify-content: space-evenly;
        width: 1555px;
    }

    .benefit-text-column .title {
        display: none;
    }

    .benefit-text-column button {
        display: none;
    }

    .benefit-title {
        display: flex;
        justify-content: center;
    }

    .benefit-title-content {
        width: 1555px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 2rem;
    }

    .benefit-title-content h2 {
        margin-right: 12rem;
    }


    .benefit-image-column {
        order: 2;
    }

    .benefit-text-column {
        order: 1;
    }

    .benefit-row {
        display: flex;
    }

    .benefit-container {
        margin-right: 1rem;
    }

    .benefit-contain {
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
    }

    .footer {
        border-top: none;
    }

    .footer-title {
        padding: 0;
        text-align: initial;
        margin-bottom: 4rem;
    }

    .footer-subtitle {
        text-align: initial;
        padding-top: 0;
    }

    .footer-copyright {
        display: none;
    }

    .footer-item {
        padding-bottom: 1rem;
    }

    .footer-input {
        margin-bottom: 1rem;
    }

    .footer-media {
        justify-content: flex-start;
    }

    .menu-row {
        text-align: initial;
    }

    .footer-contain {
        display: flex;
        justify-content: center;
    }

    .footer-menu {
        display: flex;
        justify-content: space-between;
        padding-top: 4rem;
        padding-bottom: 5rem;
        width: 1200px;
        border-top: 1px solid gray;
    }

    .desktop-copyright {
        display: block;
    }


}

/*1149 - 700*/

@media (max-width: 1149px) and (min-width: 700px) {
    body {
        width: max-content;
    }
}